
:root {
        --main: #e94e77;
        --primairy: #d68189;
        --secondary: #c6a49a;
        --tertairy: #c6e5d9;
        --quaternary: #f4ead5;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 400px;
    background-color: gray;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    background-image: url(https://wallpaperbat.com/img/341498-let-us-have-sushi-as-wallpaper-instead-3840x2160-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* navbar */
nav {
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.navbar {
    padding-top: 100px;
    width: 100%;
    height: 5vh;
}
.logoOrName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.navSpaceBetween {
    width: 45%;
    height: 100%;
}
.navLinkBox {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;

}

.navBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
}

li, a {
    text-decoration: none;
    list-style: none;
    font-size: larger;
}

/* navbarHover */
.navbar li a {
    transition: 0.5s;
    color: var(--ivory);
    text-decoration: none;
}

.navbar li a:hover {
    transition: 0.5s;
    transform: scale();
    color: var(--primairy);
}

.backgroundContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 95vh;
}

.contentBox {
    margin-left: 100px;
    margin-top: 50px;
    height: 90vh;
    width: 40%;
}

.contenBoxTitle{
    width: 100%;
    height: 10%;
    margin: 15px;
}

.title{
    font-size: 60px;
    color: gold;
}

.contentBoxTextBox{
    width: 100%;
    height: 90%;
    margin: 15px;
    font-size: 35px;
}


/* navbarHover */
/* navbar */

/* container */
.container {
    width: 100%;
    height: 400px;
}