:root {
  --main: #e94e77;
  --primairy: #d68189;
  --secondary: #c6a49a;
  --tertairy: #c6e5d9;
  --quaternary: #f4ead5;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  background-color: #070707;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/670705/pexels-photo-670705.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=`);
  /* image background moet overheen komen met text zwart en wit bijvoorbeeld */
  background-repeat: no-repeat;
  background-size: cover;
}
/* navbar */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar {
  margin-top: 50px;
  width: 100%;
  height: 5vh;
}
.logoOrName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}
.navSpaceBetween {
  display: flex;
  justify-content: center;
  width: 45%;
  height: 100%;
}
.navLinkBox {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
}
.navBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
}
li,
a {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: ivory;
}
/* navbarHover */
.navbar li a {
  transition: 0.5s;
  color: var(--ivory);
  text-decoration: none;
}
.navbar li a:hover {
  transition: 0.5s;
  transform: scale();
  color: var(--primairy);
}
.backgroundContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 95vh;
}
.contentBox {
  margin-left: 100px;
  margin-top: 50px;
  height: 90vh;
  width: 40%;
}
.contenBoxTitle {
  display: flex;
  width: 100%;
  height: 10%;
  margin: 15px;
  margin-left: 230px;
}
.title {
  transition: 0.5s;
  font-size: 50px;
  color: var(--main);
}
.title:hover {
  transition: 0.5s;
  transform: scale();
  color: var(--primairy);
}
.contentBoxTextBox {
  width: 100%;
  height: 90%;
  margin: 15px;
  font-size: 35px;
}
/* navbarHover */
/* navbar */

/* container */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.textWelcome {
  height: 70%;
  width: 45%;
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.welcomeIndex {
  font-size: 35px;
  color: var(--main);
  font-weight: 700;
}
.welcomeText {
  font-weight: 900;
}
/* login page css */
/* useroradmin css */
.selectLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 15px;
}
#mainLogin {
  display: flex;
  background-image: url(https://images.pexels.com/photos/10692499/pexels-photo-10692499.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  align-items: center;
}
form {
  align-items: center;
}
input {
  text-align: center;
}
#title-forms-register {
  text-align: center;
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 50px;
  color: var(--main);
}
.radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.radio-names {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.radio-buttons {
  width: 30px;
  height: 30px;
}
.login-text-box {
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  width: 300px;
  height: 40px;
}
.submit-login {
  border: 2px solid black;
  color: ivory;
  border-radius: 10px;
  background-color: var(--main);
  margin-left: 5px;
  width: 300px;
  height: 40px;
  cursor: pointer;
}
.submit-login {
  transition: 0.5s;
  background-color: var(--main);
  text-decoration: none;
}
.submit-login:hover {
  transition: 0.5s;
  transform: scale();
  background-color: var(--primairy);
}
.login {
  margin-top: 100px;
}
/* login page css */

/* contact page css */
.contactContainer {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainContact {
  display: flex;
  background-image: url(https://images.pexels.com/photos/10692504/pexels-photo-10692504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.emptySpace {
  width: 60%;
  height: 100%;
}
.ContactTextBox {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.emptyTextBoxSpace {
  width: 100%;
  height: 5%;
}
.cityTitle {
  color: ivory;
  display: flex;
  align-items: flex-start;
}
.city {
  font-size: 60px;
}
.generalInfo {
  color: ivory;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 5%;
}
.splitGeneralInfo {
  width: 50%;
  height: 100%;
}
.city,
.cityTitle,
.generalInfo {
  margin-left: 15px;
}
#borderContact {
  border-bottom: 1px solid ivory;
}
#borderContactDelivery {
  border-bottom: 1px solid ivory;
  margin-top: 10px;
}
/* contact page css */
/* menu page css */
.menuContainer {
  height: auto;
  width: 100%;
  background-color: #070707;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.search {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.submit-search {
  border: 2px solid black;
  color: ivory;
  border-radius: 10px;
  background-color: var(--main);
  margin-left: 5px;
  width: 60px;
  height: 40px;
  cursor: pointer;
}
.submit-search {
  transition: 0.5s;
  background-color: var(--main);
  text-decoration: none;
}
.submit-search:hover {
  transition: 0.5s;
  transform: scale();
  background-color: var(--primairy);
}
.itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 30px;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 30px;
}
.productContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 450px;
}
.productImage {
  height: 250px;
  width: 250px;
}
.productImages {
  height: 250px;
  width: 250px;
}
.productInfo {
  height: auto;
  width: auto;
  margin: 10px;
  color: ivory;
}
.nameProduct {
  font-size: 30px;
  font-weight: 900;
}
.productPrice-Add {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  width: auto;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}
.priceButton {
  width: 75px;
  height: 35px;
  background-color: var(--main);
  border: 2px solid black;
  border-radius: 12.5px;
}
.buttonString {
  font-size: 15px;
}
.shoppingCartContainer {
  display: flex;
  justify-content: center;
  width: 25%;
  height: auto;
  margin-top: 30px;
}
.shoppingCart {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 350px;
  background-color: #c6e5d9;
}
.shoppingCartTitle {
  height: 50px;
  width: auto;
  background-color: yellow;
}
.shoppingCartItems {
  height: 75px;
  width: auto;
  background-color: chocolate;
}
.shoppingInfo {
  height: 50px;
}
/* menu page css */
/* dashboard css */

.dashboardContainer {
  display: flex;
  flex-direction: column;
  background-color: #070707;
  height: 100vh;
  width: auto;
}
.titleDashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 10%;
  width: 100%;
}
.dashboardTitle {
  font-size: 60px;
  color: #e94e77;
}
.CRUDNavContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 90%;
  width: 100%;
}
.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 22.5%;
  background-color: ivory;
  box-shadow: rgba(255, 255, 255, 0.9) 0px 2px 8px 0px;
}
.navTitle {
  font-size: 45px;
  color: #e94e77;
}
.navItems {
  transition: 0.5s;
  color: var(--secondary);
  text-decoration: none;
}
.navItems:hover {
  transition: 0.5s;
  height: 65%;
  width: 30%;
}
/* dashboard css */
/* menubeheer */
.menuBeheerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: auto;
  /* width: auto; */
  padding: 20px;
}
table.blueTable {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 75%;
  border-collapse: collapse;
  table-layout: fixed;
}
table.blueTable td,
table.blueTable th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
  text-align: center;

  height: 35px;
}
table.blueTable tbody td {
  font-size: 13px;
  color: #333333;
}
table.blueTable tr:nth-child(even) {
  background: #f5dce6;
}
table.blueTable thead {
  background: #a40000;
  background: -moz-linear-gradient(top, #bb4040 0%, #ad1919 66%, #a40000 100%);
  background: -webkit-linear-gradient(
    top,
    #bb4040 0%,
    #ad1919 66%,
    #a40000 100%
  );
  background: linear-gradient(to bottom, #bb4040 0%, #ad1919 66%, #a40000 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
}
table.blueTable thead th:first-child {
  border-left: none;
}
.createContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: auto;
}
.update-login {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  background-color: var(--quaternary);
  margin-left: 5px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.update-login:hover {
  transition: 0.5s;
  transform: scale();
  background-color: var(--quaternary);
}
.delete-login {
  border: 2px solid black;
  color: ivory;
  border-radius: 10px;
  background-color: var(--main);
  margin-left: 5px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.delete-login:hover {
  transition: 0.5s;
  transform: scale();
  background-color: var(--primairy);
}
.smallLink {
  font-size: 30px;
  color: #e94e77;
}
.smallLink:hover {
  transition: 00.5s;
  color: #e63766;
}
.createLink {
  font-size: 45px;
  color: #e94e77;
}
.createLink:hover {
  transition: 00.5s;
  color: #e63766;
}
.linkUpdate {
  font-size: 13px;
  color: #e94e77;
}
/* menubeheer */
